sentencepiece != 0.1.92
protobuf
datasets==1.11.0
seqeval==1.2.2
sacrebleu==1.4.2
git+https://github.com/csebuetnlp/normalizer
git+https://github.com/otuncelli/turkish-stemmer-python
git+https://github.com/abhik1505040/bengali-stemmer
git+https://github.com/abhik1505040/indic_nlp_library
absl-py
nltk
numpy
six>=1.14
pythainlp
pyonmttok
jieba
fugashi[unidic]
git+https://github.com/csebuetnlp/xl-sum.git#egg=rouge_score&subdirectory=multilingual_rouge_scoring